In [1]:
import pandas as pd
from common_util.openDataDir import getFullPath

In [2]:
filePath = getFullPath('第4章 数据清洗四大核心操作', 'Pandas数据清洗原始数据.xlsx')
d1 = pd.read_excel(filePath, sheet_name='一级流量')
d2 = pd.read_excel(filePath, sheet_name='二级流量')
d3 = pd.read_excel(filePath, sheet_name='三级流量')

print(d1.head(2))
print(d2.head(2))
print(d3.head(2))

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   一级   A区  44300  0.1178  58.79  306887.83
1   一级   B区  30612  0.1385  86.64  367338.10
  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   二级   A区  29111  0.1066  87.40  271189.23
1   二级   B区  17165  0.2271  91.22  355662.39
  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   三级   A区  45059  0.1366  90.11  554561.22
1   三级   B区   2133     NaN  74.48   17204.50

### 4.1.1 纵向合并
#### contcat：纵向合并

In [12]:
df = pd.concat([d1, d2, d3])
df.shape
df

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   一级   A区  44300  0.1178  58.79  306887.83
1   一级   B区  30612  0.1385  86.64  367338.10
2   一级   C区  18389  0.0250   0.28     129.58
3   一级   D区   4509  0.1073  64.12   31035.14
4   一级   E区   3769  0.0573  92.91   20068.20
5   一级   F区   2424  0.2207  89.33   47791.60
6   一级   G区   2412  0.0821  56.04   11096.42
0   二级   A区  29111  0.1066  87.40  271189.23
1   二级   B区  17165  0.2271  91.22  355662.39
2   二级   C区   8870  0.0078  44.52    3072.00
0   三级   A区  45059  0.1366  90.11  554561.22
1   三级   B区   2133     NaN  74.48   17204.50
2   三级   C区    899  0.0990  92.99    8276.50
3   三级   D区     31  0.0000    NaN        NaN
4   三级   E区     17  0.0000    NaN        NaN

### 4.1.2 横向连接

In [4]:
h1 = pd.DataFrame({'姓名': ['韩梅梅', '李雷', '李华', '王明', '铁蛋'], '语文': [93, 80, 85, 76, 58],
                   '数学': [87, 99, 95, 85, 70], '英语': [80, 85, 97, 65, 88]})
h2 = pd.DataFrame({'姓名': ['李华', '王明', '铁蛋', '刘强'], '篮球': [93, 80, 85, 76], '舞蹈': [87, 99, 95, 85]})

print(h1.head())
print(h2.head())

    姓名  语文  数学  英语
0  韩梅梅  93  87  80
1   李雷  80  99  85
2   李华  85  95  97
3   王明  76  85  65
4   铁蛋  58  70  88
   姓名  篮球  舞蹈
0  李华  93  87
1  王明  80  99
2  铁蛋  85  95
3  刘强  76  85

#### 1.内连接

In [5]:
# how用于指定连接方式，现在我们基于姓名来匹配，这里用的inner，即只返回两个表中共同出现的姓名所对应的数据
# inner、left、right、outer ，跟数据的连接类似。
pd.merge(left=h1, right=h2, left_on='姓名', right_on='姓名', how='inner')

   姓名  语文  数学  英语  篮球  舞蹈
0  李华  85  95  97  93  87
1  王明  76  85  65  80  99
2  铁蛋  58  70  88  85  95

#### 4.外连接：outer

In [8]:
pd.merge(left=h1, right=h2, left_on='姓名', right_on='姓名', how='outer')

    姓名    语文    数学    英语    篮球    舞蹈
0  韩梅梅  93.0  87.0  80.0   NaN   NaN
1   李雷  80.0  99.0  85.0   NaN   NaN
2   李华  85.0  95.0  97.0  93.0  87.0
3   王明  76.0  85.0  65.0  80.0  99.0
4   铁蛋  58.0  70.0  88.0  85.0  95.0
5   刘强   NaN   NaN   NaN  76.0  85.0

## 4.2 删：剔除噪声数据
#### 1.删除缺失值

In [9]:
#只要有一个字段是空值，就会删除整行
df.dropna()

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   一级   A区  44300  0.1178  58.79  306887.83
1   一级   B区  30612  0.1385  86.64  367338.10
2   一级   C区  18389  0.0250   0.28     129.58
3   一级   D区   4509  0.1073  64.12   31035.14
4   一级   E区   3769  0.0573  92.91   20068.20
5   一级   F区   2424  0.2207  89.33   47791.60
6   一级   G区   2412  0.0821  56.04   11096.42
0   二级   A区  29111  0.1066  87.40  271189.23
1   二级   B区  17165  0.2271  91.22  355662.39
2   二级   C区   8870  0.0078  44.52    3072.00
0   三级   A区  45059  0.1366  90.11  554561.22
2   三级   C区    899  0.0990  92.99    8276.50

#### 只有金额为空值，才会删除对应的行

In [10]:
df.dropna(subset=['支付金额'])

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   一级   A区  44300  0.1178  58.79  306887.83
1   一级   B区  30612  0.1385  86.64  367338.10
2   一级   C区  18389  0.0250   0.28     129.58
3   一级   D区   4509  0.1073  64.12   31035.14
4   一级   E区   3769  0.0573  92.91   20068.20
5   一级   F区   2424  0.2207  89.33   47791.60
6   一级   G区   2412  0.0821  56.04   11096.42
0   二级   A区  29111  0.1066  87.40  271189.23
1   二级   B区  17165  0.2271  91.22  355662.39
2   二级   C区   8870  0.0078  44.52    3072.00
0   三级   A区  45059  0.1366  90.11  554561.22
1   三级   B区   2133     NaN  74.48   17204.50
2   三级   C区    899  0.0990  92.99    8276.50

#### 2.缺失值的补全

In [11]:
#用0填充所有的空值
df.fillna(0)

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   一级   A区  44300  0.1178  58.79  306887.83
1   一级   B区  30612  0.1385  86.64  367338.10
2   一级   C区  18389  0.0250   0.28     129.58
3   一级   D区   4509  0.1073  64.12   31035.14
4   一级   E区   3769  0.0573  92.91   20068.20
5   一级   F区   2424  0.2207  89.33   47791.60
6   一级   G区   2412  0.0821  56.04   11096.42
0   二级   A区  29111  0.1066  87.40  271189.23
1   二级   B区  17165  0.2271  91.22  355662.39
2   二级   C区   8870  0.0078  44.52    3072.00
0   三级   A区  45059  0.1366  90.11  554561.22
1   三级   B区   2133  0.0000  74.48   17204.50
2   三级   C区    899  0.0990  92.99    8276.50
3   三级   D区     31  0.0000   0.00       0.00
4   三级   E区     17  0.0000   0.00       0.00

In [ ]:
#更自定义的方式来填充，可以分别指定对应的值
df.fillna({'客单价': 666, '支付金额': df['支付金额'].min()})

### 4.2.2 去除重复项

In [13]:
repeat = pd.concat([df, df])
print('有重复项的数据集一共有多少行：', len(repeat))

有重复项的数据集一共有多少行： 30

#### 判定重复值

In [14]:
#判断是否重复
# duplicated() 方法执行时，Pandas会从上至下扫描数据，判断每一行数据是否与前面的重复，如果不重复返回False，重复则返回True
repeat.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
0    False
1    False
2    False
0    False
1    False
2    False
3    False
4    False
0     True
1     True
2     True
3     True
4     True
5     True
6     True
0     True
1     True
2     True
0     True
1     True
2     True
3     True
4     True
dtype: bool

In [15]:
unique = repeat.loc[repeat.duplicated() == False, :]
print('去重后的数据集一共有多少行：', len(unique))

去重后的数据集一共有多少行： 15

#### 指定重复列删除

In [16]:
# 默认策略只保留了第1行
repeat.loc[repeat.duplicated(subset='流量级别') == False, :]

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   一级   A区  44300  0.1178  58.79  306887.83
0   二级   A区  29111  0.1066  87.40  271189.23
0   三级   A区  45059  0.1366  90.11  554561.22

#### 指定重复列，并保留重复的最后一行

In [ ]:
# keep保留策略，保留最后一行
repeat.loc[repeat.duplicated(subset='流量级别', keep='last') == False, :]

## 4.3 选：基于条件选择数据

### 4.3.1 按条件索引/筛选

In [18]:
df.loc[(df['访客数'] > 10000) & (df['流量级别'] == '一级'), :]

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   一级   A区  44300  0.1178  58.79  306887.83
1   一级   B区  30612  0.1385  86.64  367338.10
2   一级   C区  18389  0.0250   0.28     129.58

### 4.3.2 排序

In [19]:
#先按照支付金额排序
sort_df = df.sort_values('支付金额', ascending=False)
sort_df

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   三级   A区  45059  0.1366  90.11  554561.22
1   一级   B区  30612  0.1385  86.64  367338.10
1   二级   B区  17165  0.2271  91.22  355662.39
0   一级   A区  44300  0.1178  58.79  306887.83
0   二级   A区  29111  0.1066  87.40  271189.23
5   一级   F区   2424  0.2207  89.33   47791.60
3   一级   D区   4509  0.1073  64.12   31035.14
4   一级   E区   3769  0.0573  92.91   20068.20
1   三级   B区   2133     NaN  74.48   17204.50
6   一级   G区   2412  0.0821  56.04   11096.42
2   三级   C区    899  0.0990  92.99    8276.50
2   二级   C区   8870  0.0078  44.52    3072.00
2   一级   C区  18389  0.0250   0.28     129.58
3   三级   D区     31  0.0000    NaN        NaN
4   三级   E区     17  0.0000    NaN        NaN

#### 注意
无论删空的dropna() 还是排序的sort_values() ，在对源数据进行操作后，源数据并未改变，这是因为我们没有对这几个方法的inplace值进行设置，如果设置inplace=True，删空和排序都会在源数据上生效。

为了避免出现不必要的错误而无法更改，这里更建议大家把操作后的源数据赋值给新的变量，如new_value=df.dropna() ，而不是直接将源数据的inplace参数设置为True。

## 4.4 改：改变数据形态

### 4.4.1 转置

In [20]:
#以d2流量表为例
print(d2)
print(d2.T)

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额
0   二级   A区  29111  0.1066  87.40  271189.23
1   二级   B区  17165  0.2271  91.22  355662.39
2   二级   C区   8870  0.0078  44.52    3072.00
               0          1       2
流量级别          二级         二级      二级
投放地区          A区         B区      C区
访客数        29111      17165    8870
支付转化率     0.1066     0.2271  0.0078
客单价         87.4      91.22   44.52
支付金额   271189.23  355662.39  3072.0

### 4.4.2 分组

#### 1.groupby分组

In [21]:
# 直接分组之后，返回的是一个分组对象。要进一步得到数据，需要在分组的时候对相关字段进行计算
df.groupby('流量级别')

In [23]:
df.groupby('流量级别').sum(numeric_only=True)

         访客数   支付转化率     客单价       支付金额
流量级别
一级    106415  0.7487  448.11  784346.87
三级     48139  0.2356  257.58  580042.22
二级     55146  0.3415  223.14  629923.62

In [35]:
df.groupby('流量级别')[['访客数', '支付金额']].sum()
# 流量级别作为汇总的依据列，会被默认转换为索引列。

/var/folders/dm/f56zxw7j1rqc97w8f43rc06c0000gn/T/ipykernel_69904/2358281737.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('流量级别')['访客数', '支付金额'].sum()

         访客数       支付金额
流量级别
一级    106415  784346.87
三级     48139  580042.22
二级     55146  629923.62

#### 不希望分组字段变成索引，使用reset_index()
流量级别作为汇总的依据列，会被默认转换为索引列。在实践中依据列变成索引列处理起来不够方便，如果我们不希望它变成索引列，在分组处理后加上reset_index

In [37]:
df.groupby('流量级别')[['访客数', '支付金额']].sum().reset_index()

  流量级别     访客数       支付金额
0   一级  106415  784346.87
1   三级   48139  580042.22
2   二级   55146  629923.62

#### 2.agg函数

In [31]:
# agg() 中指定了mean和sum两种统计方式，数据在按流量级别分组之后，分别计算了支付转化率、客单价的均值与汇总值。
# 注意这里使用 双层中括号 [[ ]]，表示选择多列，返回一个新的 DataFrame
df.groupby('流量级别')[['支付转化率', '客单价']].agg(['mean', 'sum'])

         支付转化率                客单价
          mean     sum       mean     sum
流量级别
一级    0.106957  0.7487  64.015714  448.11
三级    0.058900  0.2356  85.860000  257.58
二级    0.113833  0.3415  74.380000  223.14

In [27]:
# agg() 还可以对不同字段采用不同的汇总方式。
df.groupby('流量级别').agg({'访客数': 'max', '支付金额': 'median'})

        访客数       支付金额
流量级别
一级    44300   31035.14
三级    45059   17204.50
二级    29111  271189.23

### 4.4.3 切分

#### 切分操作常用于一维数组的分类和打标

In [36]:
# x：代表要传入用于切分的一维数组，可以是列表，也可以是DataFrame的一列。
# bins：表示切分的方式，可以传入数值，如传入5表示整个数据会按照取值范围切分为5组；也可以自定义传入列表，如传入[0，100，200，300]，方法会自动按照（0，100]，（100，200]，（200，300]的区间来切分。
pd.cut(x=df['访客数'], bins=[0, 100, 1000, 10000, 100000])

0    (10000, 100000]
1    (10000, 100000]
2    (10000, 100000]
3      (1000, 10000]
4      (1000, 10000]
5      (1000, 10000]
6      (1000, 10000]
0    (10000, 100000]
1    (10000, 100000]
2      (1000, 10000]
0    (10000, 100000]
1      (1000, 10000]
2        (100, 1000]
3           (0, 100]
4           (0, 100]
Name: 访客数, dtype: category
Categories (4, interval[int64, right]): [(0, 100] < (100, 1000] < (1000, 10000] < (10000, 100000]]

#### 把访客数按数量分类打标

In [38]:
df['分类打标'] = pd.cut(x=df['访客数'], bins=[0, 100, 1000, 10000, 100000], right=False,
                        labels=['忽略级', '百级', '千级', '万级'])
df

  流量级别 投放地区    访客数   支付转化率    客单价       支付金额 分类打标
0   一级   A区  44300  0.1178  58.79  306887.83   万级
1   一级   B区  30612  0.1385  86.64  367338.10   万级
2   一级   C区  18389  0.0250   0.28     129.58   万级
3   一级   D区   4509  0.1073  64.12   31035.14   千级
4   一级   E区   3769  0.0573  92.91   20068.20   千级
5   一级   F区   2424  0.2207  89.33   47791.60   千级
6   一级   G区   2412  0.0821  56.04   11096.42   千级
0   二级   A区  29111  0.1066  87.40  271189.23   万级
1   二级   B区  17165  0.2271  91.22  355662.39   万级
2   二级   C区   8870  0.0078  44.52    3072.00   千级
0   三级   A区  45059  0.1366  90.11  554561.22   万级
1   三级   B区   2133     NaN  74.48   17204.50   千级
2   三级   C区    899  0.0990  92.99    8276.50   百级
3   三级   D区     31  0.0000    NaN        NaN  忽略级
4   三级   E区     17  0.0000    NaN        NaN  忽略级